<br><br>
<label class="form-label" style="margin-left: 26%;">Email Id : </label>
<input type="text" class="form-control form-control-lg" 
style="width: 350px; margin-left: 25%"
[(ngModel)]="email" [ngModelOptions]="{ standalone: true }"/>

<br>
<label class="form-label" style="margin-left: 26%">Password : </label>
<input type="password" class="form-control form-control-lg"
style="width: 350px; margin-left: 25%"
[(ngModel)]="password" [ngModelOptions]="{ standalone: true }"/>

<div class="text-center text-lg-start mt-4 pt-2" style="margin-left: 35%">
    <button
      type="button"
      class="btn btn-primary btn-lg"
      style="padding-left: 2.5rem; padding-right: 2.5rem"
      (click)="userLogin()">Login</button
    ><br />
    <p class="small fw-bold mt-2 pt-1 mb-0">
      Don't have an account?
      <a class="link-danger" routerLink="/user-register">Register</a>
    </p>
  </div>