<!-- user:{{userId}},{{recipe.idMeal}} -->
<div class="container recipe-page">
    <div class="row">
        <div class="card text-center recipe-card">
            <app-spinner *ngIf="showSpinner" style="margin-top: 90px;"></app-spinner>
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="card-body recipe-body">
                        <h6 class="card-title recipe-title">{{recipe.strMeal}}</h6>
                        <p class="card-text text-muted">{{recipe.strArea}} {{recipe.strCategory}}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="card-img-bottom" [src]="recipe.strMealThumb" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-md-6 title">Ingredients</div>
        <div class="col-2 col-md-1 offset-md-5 title">
            <button class="btn btn-dark" name="saveButton" id="saveButton" (click)="saveRecipe()">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
            </button>
        </div>
        <hr/>
        <ul class="content">
            <li *ngIf="recipe.strIngredient1">{{recipe.strMeasure1}} {{recipe.strIngredient1}}</li>
            <li *ngIf="recipe.strIngredient2">{{recipe.strMeasure2}} {{recipe.strIngredient2}}</li>
            <li *ngIf="recipe.strIngredient3">{{recipe.strMeasure3}} {{recipe.strIngredient3}}</li>
            <li *ngIf="recipe.strIngredient4">{{recipe.strMeasure4}} {{recipe.strIngredient4}}</li>
            <li *ngIf="recipe.strIngredient5">{{recipe.strMeasure5}} {{recipe.strIngredient5}}</li>
            <li *ngIf="recipe.strIngredient6">{{recipe.strMeasure6}} {{recipe.strIngredient6}}</li>
            <li *ngIf="recipe.strIngredient7">{{recipe.strMeasure7}} {{recipe.strIngredient7}}</li>
            <li *ngIf="recipe.strIngredient8">{{recipe.strMeasure8}} {{recipe.strIngredient8}}</li>
            <li *ngIf="recipe.strIngredient9">{{recipe.strMeasure9}} {{recipe.strIngredient9}}</li>
            <li *ngIf="recipe.strIngredient10">{{recipe.strMeasure10}} {{recipe.strIngredient10}}</li>
            <li *ngIf="recipe.strIngredient11">{{recipe.strMeasure11}} {{recipe.strIngredient11}}</li>
            <li *ngIf="recipe.strIngredient12">{{recipe.strMeasure12}} {{recipe.strIngredient12}}</li>
            <li *ngIf="recipe.strIngredient13">{{recipe.strMeasure13}} {{recipe.strIngredient13}}</li>
            <li *ngIf="recipe.strIngredient14">{{recipe.strMeasure14}} {{recipe.strIngredient14}}</li>
            <li *ngIf="recipe.strIngredient15">{{recipe.strMeasure15}} {{recipe.strIngredient15}}</li>
            <li *ngIf="recipe.strIngredient16">{{recipe.strMeasure16}} {{recipe.strIngredient16}}</li>
            <li *ngIf="recipe.strIngredient17">{{recipe.strMeasure17}} {{recipe.strIngredient17}}</li>
            <li *ngIf="recipe.strIngredient18">{{recipe.strMeasure18}} {{recipe.strIngredient18}}</li>
            <li *ngIf="recipe.strIngredient19">{{recipe.strMeasure19}} {{recipe.strIngredient19}}</li>
            <li *ngIf="recipe.strIngredient20">{{recipe.strMeasure20}} {{recipe.strIngredient20}}</li>
        </ul>
    </div>
    <div class="row">
        <div class="title">Instructions</div>
        <hr/>
        <div>
            <app-spinner-black *ngIf="showSpinner"></app-spinner-black>
        </div>
        <div class="content">
            {{recipe.strInstructions | step }}
        </div>
    </div>
    <div class="row" *ngIf="nutritionRecipe!=undefined">
        <div class="title">Nutrition Facts<h5 style="display:inline">  (per serving)</h5></div>
        <hr/>
        <div class="row content">
            <div class="col-3 col-md-1 nutrition">
                {{nutritionRecipe.calories.value}}
            </div>
            <div class="col-3 col-md-1 nutrition">
                {{nutritionRecipe.fat.value}}{{nutritionRecipe.fat.unit}}
            </div>
            <div class="col-3 col-md-1 nutrition">
                {{nutritionRecipe.carbs.value}}{{nutritionRecipe.carbs.unit}}
            </div>
            <div class="col-3 col-md-1 nutrition">
                {{nutritionRecipe.protein.value}}{{nutritionRecipe.protein.unit}}
            </div>
        </div>
        <div class="row content">
            <div class="col-3 col-md-1">
                Calories
            </div>
            <div class="col-3 col-md-1">
                Fat
            </div>
            <div class="col-3 col-md-1">
                Carbs
            </div>
            <div class="col-3 col-md-1">
                Protien
            </div>
        </div>
    </div>
    <div class="row" *ngIf="recommendRecipes.length">
        <div class="title" style="margin-top: 100px;">You'll Also Love</div>
        
        <div class="row">
            <div class="card-deck">
                <div class="card text-center col-sm-2 recommend-card" *ngFor="let recipe of recommendRecipes">
                    <a [routerLink]="['/recipe',recipe.idMeal]" target="_blank" [state]="recipe">
                        <img class="card-img-top recommend-img" [src]="recipe.strMealThumb"/>
                    
                        <div class="card-body">
                            <h6 class="card-title recommend-title">{{recipe.strMeal}}</h6>
                        </div>
                        <!-- <div class="card-img-overlay">
                            <h6 class="card-title" style="color: white; font-size: 20px;">{{recipe.strMeal}}</h6>
                        </div> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
    <div class="card-footer">

        
        <!-- <button class="btn btn-outline-secondary"
                style="width: 80px"
                (click)="onBack()">
            <i class="fa fa-chevron-left"></i> Back

        </button> -->
    </div>
</div>