<!-- userid : {{userId}} -->

<div class="container" *ngIf="loginStatus">
    <div class="row">
        <div class="col-md-10">
            <h4>Saved List</h4>
        </div>
        <div class="col-md-1">
            <button (click)="refresh()" [disabled]="refreshDisable" class="btn btn-outline-primary btn-sm"><i class="fa fa-refresh" [ngClass]="refreshDisable ? 'refresh-icon' : '' " aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="row" *ngIf="showSavedListSpinner">
        <app-spinner-black class="col-md-4 offset-md-5 align-self-center"></app-spinner-black>
    </div>
    <div class="row" *ngIf="recipeDetails.length">
        <div class="col-md-6 align-self-center">Filter By Name:</div>
        <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="listFilter"/>
        </div>
        
    </div>
    <table class="table" *ngIf="recipeDetails.length">
        <thead>
            <tr>
                <th>Image</th>
                <th>Recipe Name</th>
                <!-- <th>Category</th> -->
                <!-- <th>Cuisine</th> -->
                <!-- <th>Ac tion</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let recipe of filteredRecipes">
                <td>
                    <img [src]="recipe.strMealThumb" style="width:80px;">
                </td>
                <td>
                    <a [routerLink]="['/recipe',recipe.idMeal]" target="_blank" class="saved-row">
                        {{ recipe.strMeal }}
                    </a>
                    <div class="remove">
                        <!-- <button class="btn btn-link btn-sm remove-btn" (click)="removeRecipe(recipe.idMeal)">remove</button> -->
                        <button class="btn btn-link remove-btn" (click)="removeRecipe(recipe.idMeal)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
                <!-- <td>{{recipe.strCategory}}</td> -->
                <!-- <td>{{recipe.strArea}}</td> -->
    
                <!-- <td>
                    
                </td> -->
                <!-- <td><a (click)="removeRecipe(recipe.idMeal)">Remove</a></td> -->

            </tr>
        </tbody>
    </table>
    <div *ngIf="!recipeDetails.length && !showSavedListSpinner" style="font-size: 20px; text-align: center; margin-top: 50px;">
        <!-- No recipes to show<br/> -->
        Save Recipes to View them here
    </div>
</div>
<div *ngIf="!loginStatus">
    <!-- Session timeout. Please login again!!! -->
    <app-home></app-home>
</div>

