/* .saved-table{
    width: 33%;
    display: inline-block;
    float: right;
}
.search-table{
    width:66%;
    display: inline-block;
} */
.home{
    min-height: calc(100vh - 100px);
}
.card{
    display: inline-block;
    width: 30%;
    margin: 1%;
}
.card1{
    display: inline-block;
    width: 50%;
    margin: 1%;
}
.recipe-title{
    color: black;
}
a{
    text-decoration: none;
}
.trivia-title{
    font-family: 'Roboto Slab','Times New Roman', Times, serif;
}
.trivia{
 font-family: 'Roboto Slab','Times New Roman', Times, serif;
 /* font-style: italic; */
 color: white;
 background-color: black;
 width: 98%;
 margin: 1%;
 margin-bottom: 30px;
 /* text-align: center; */

}
.random-card{
    width: 98%;
    margin: 1%;
    background-color: black;
    min-height: 400px;
    margin-bottom: 30px;
}
.random-card-title{
    font-size: 35px;
    font-family: 'Roboto Slab','Times New Roman', Times, serif;
    color: white;
}
.search-card{
    min-height: 300px;
}
.signup:hover{
    cursor: pointer;
}
.card-columns{
    column-count: 1;
}
/* .card-columns {
    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
} */
@media all and (max-width:800px){
    .search-card{
        min-height: 100px;
        width: 48%;
    }
}