/* .saved-table{
    width: 33%;
    display: inline-block;
    float: right;
}
.search-table{
    width:66%;
    display: inline-block;
} */
.home{
    min-height: calc(100vh - 100px);
}
.card{
    display: inline-block;
    width: 30%;
    margin: 1%;
}
.card1{
    display: inline-block;
    width: 50%;
    margin: 1%;
}
.recipe-title{
    color: black;
}
a{
    text-decoration: none;
}
.trivia-title{
    font-family: 'Roboto Slab','Times New Roman', Times, serif;
}
.trivia{
 font-family: 'Roboto Slab','Times New Roman', Times, serif;
 /* font-style: italic; */
 color: white;
 background-color: black;
 width: 98%;
 margin: 1%;
 margin-bottom: 30px;
 /* text-align: center; */

}
.random-card{
    width: 98%;
    margin: 1%;
    background-color: black;
    min-height: 400px;
    margin-bottom: 30px;
}
.random-card-title{
    font-size: 50px;
    font-family: 'Roboto Slab','Times New Roman', Times, serif;
    color: white;
}
.search-card{
    min-height: 300px;
}
.signup:hover{
    cursor: pointer;
}

