<div class="card">
    <div class="card-header">
        Recipe List
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <select class="form-control" [(ngModel)]="selectedData" (ngModelChange)="field('a')">
                    <option value="" disabled selected>Area</option>
                    <option *ngFor="let a of areas">{{a.strArea}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" [(ngModel)]="selectedData" (ngModelChange)="field('c')">
                    <option value="" disabled selected>Category</option>
                    <option *ngFor="let c of categories">{{c.strCategory}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" [(ngModel)]="selectedData" (ngModelChange)="field('i')">
                    <option value="" disabled selected>Main Ingredient</option>
                    <option *ngFor="let i of ingredients">{{i.strIngredient}}</option>
                </select>
            </div>
            <div class="col-md-1 offset-md-2">Search:</div>
            <div class="col-md-2">
                <input type="text" [(ngModel)]="search" />
            </div>
            <div class="col-md-1">
                <button class="btn btn-outline-primary" (click)="searchRecipe()">Search</button>
            </div>
            <!-- <div class="col-md-1 offset-md-4">
                <button class="btn btn-outline-danger">Clear</button>
            </div> -->
        </div>
        <div class="row justify-content-end">
            <div class="table-responsive search-table col-sm-8" *ngIf="searchRecipes.length">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Search</h4>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Cuisine</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let recipe of searchRecipes">
                            <td>
                                <img [src]="recipe.strMealThumb"
                                [style.width.px]="imageWidth"
                                [style.margin.px]="imageMargin">
                            </td>
                            <td>
                                <a [routerLink]="['/recipe',recipe.idMeal]" target="_blank" [state]="recipe">
                                    {{ recipe.strMeal }}
                                </a>
                            </td>
                            <td>{{recipe.strCategory}}</td>
                            <td>{{recipe.strArea}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive saved-table col-sm-4" *ngIf="recipes.length">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Saved List</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">Filter By:</div>
                    <div class="col-md-6">
                        <input type="text" [(ngModel)]="listFilter" />
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Cuisine</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let recipe of filteredRecipes">
                            <td>
                                <img [src]="recipe.strMealThumb"
                                [style.width.px]="imageWidth"
                                [style.margin.px]="imageMargin">
                            </td>
                            <td>
                                <a [routerLink]="['/recipe',recipe.idMeal]" target="_blank" [state]="recipe">
                                    {{ recipe.strMeal }}
                                </a>
                            </td>
                            <td>{{recipe.strCategory}}</td>
                            <td>{{recipe.strArea}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>