<div class="home">
    <!-- <div class="card-header">
        Recipe List
    </div> --> 
    <br/>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-1 align-self-center">Search by</div>
                <div class="col-6 mt-1 mt-md-0 col-md-2">
                    <select class="form-control" [(ngModel)]="selectedData['a']" (ngModelChange)="getRecipeByData('a')">
                        <option value="" disabled selected>Cuisine</option>
                        <option *ngFor="let a of areas">{{a.strArea}}</option>
                    </select>
                </div>
                <div class="col-6 mt-1 mt-md-0 col-md-2">
                    <select class="form-control" [(ngModel)]="selectedData['c']" (ngModelChange)="getRecipeByData('c')">
                        <option value="" disabled selected>Category</option>
                        <option *ngFor="let c of categories">{{c.strCategory}}</option>
                    </select>
                </div>
                <div class="col-12 mt-1 mt-md-0 col-md-2">
                    <select class="form-control" [(ngModel)]="selectedData['i']" (ngModelChange)="getRecipeByData('i')">
                        <option value="" disabled selected>Main Ingredient</option>
                        <option *ngFor="let i of ingredients">{{i.strIngredient}}</option>
                    </select>
                </div>
                <!-- <div class="col-md-1 offset-md-2">Search:</div> -->
                <div class="col-9 mt-1 offset-md-2 col-md-2 mt-md-0">
                    <input type="text" class="form-control" (keydown.enter)='searchRecipe()' [(ngModel)]="search" placeholder="Search" />
                </div>
                <div class="col-3 mt-1 col-md-1  mt-md-0">
                    <button class="btn btn-outline-primary" (click)="searchRecipe()">Search</button>
                </div>
                <!-- <div class="col-md-1 offset-md-4">
                    <button class="btn btn-outline-danger">Clear</button>
                </div> -->
            </div>
            <br/>
            <div class="row justify-content-end">
                <div class="table-responsive search-table col-sm-8" *ngIf="showStartPage">
                    <br/>
                    <div class="card trivia" *ngIf="trivia">
                        <h4 class="card-body"><h6 class="card-title trivia-title">Daily Trivia</h6>{{trivia}}</h4>
                    </div>
                    <br/>
                    <div class="card text-center random-card">
                        <app-spinner *ngIf="showSpinner"></app-spinner>
                        <!-- <div class="spinner-border text-light align-self-center" role="status" *ngIf="showSpinner">
                            <span class="sr-only">Loading...</span>
                        </div> -->
                        <a [routerLink]="['/recipe',randomRecipe.idMeal]" target="_blank">
                            <div class="row">
                                <div class="col-md-6">
                                    <img class="card-img-bottom" [src]="randomRecipe.strMealThumb"/>
                                </div>
                                <div class="col-md-6 align-self-center">
                                    <div class="card-body random-card-body">
                                        <h6 class="card-title recipe-title random-card-title">{{randomRecipe.strMeal}}</h6>
                                        <p class="card-text text-muted">{{randomRecipe.strArea}} {{randomRecipe.strCategory}}</p>
                                    </div>
                                    <!-- <div class="card-footer">
                                        <small class="text-muted">source</small>
                                    </div> -->
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card trivia "*ngIf="joke">         
                      <h4 class="card-body"><h6 class="card-title trivia-title">Daily Joke</h6>{{joke}}</h4>
                    </div>
                </div>
                <div class="table-responsive search-table col-sm-8" *ngIf="!showStartPage">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Search</h4>
                        </div>
                    </div>
                    <div class="row" *ngIf="!searchRecipes.length">
                      <h2>No Results Found</h2>
                    </div>
                    <div class="row" *ngIf="recipes.length">
                        <div class="card-columns">
                            <div class="card text-center search-card" *ngFor="let recipe of searchRecipes">
                                <a [routerLink]="['/recipe',recipe.idMeal]" target="_blank">
                                    <img class="card-img-top" [src]="recipe.strMealThumb" (load)="loadImage()"
                                    [hidden]="imgLoad === false" *ngIf="!showSearchSpinner"/>
                                    
                                    <div class="card-body">
                                        <h6 class="card-title recipe-title" *ngIf="!showSearchSpinner">{{recipe.strMeal}}</h6>
                                        <app-spinner-black *ngIf="showSearchSpinner" class="small-spinner"></app-spinner-black>
                                    </div>
                                    <!-- <div class="card-img-overlay">
                                        <h6 class="card-title" style="color: white; font-size: 20px;">{{recipe.strMeal}}</h6>
                                    </div> -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- whole template for login -->

                <div class="table-responsive saved-table col-sm-4" *ngIf="!loginStatus" style="padding-top: 60px;">
                    <div *ngIf="displayForm == 'loginwithpassword'"><h3>Login</h3><br/>
                        <!-- Login form starts -->
                        <form #loginForm="ngForm">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example3">Email</label>
                                <input type="email" name="email" #email=ngModel [(ngModel)]="emailId" class="form-control" style="width: 90%;"
                                    placeholder="Enter Email Address" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [ngModelOptions]="{ standalone: true }">
                                      <div *ngIf="email.errors?.['required'] && email.touched">
                                          <div style="color: red;">
                                              Please enter your Email address
                                          </div>
                                      </div>
                                      <div *ngIf="email.errors?.['pattern']">
                                          <div style="color: red;">
                                              Please enter a valid Email address
                                          </div>
                                      </div>
                              </div>
                  
                              <!-- Password input -->
                              <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example4">Password</label>
                                <input type="password" #pass=ngModel id="form3Example4" class="form-control" [(ngModel)]="password" style="width: 90%;"
                                [ngModelOptions]="{ standalone: true }" placeholder="Enter password" required="true"/>
                                <div *ngIf="pass.errors?.['required'] && pass.touched">
                                  <div style="color: red;">
                                    Please enter password
                                  </div>
                                </div>
                              </div>
                  
                            
                            <div class="row">
                              <div class="col-4">
                              <button type="button" id="loginButton" (click)="userLoginByPassword()" class="btn btn-primary"
                                style="padding-left: 2.5rem; padding-right: 2.5rem">
                                Login
                              </button>
                              </div>
                              <div class="col-6">
                                <button class="btn btn-outline-primary" (click)="loginwithotpForm()">Login with otp</button><br>
                              </div>
                            </div>
                            <div>
                              <p class="small fw-bold mt-2 pt-1 mb-0">
                                Don't have an account? Just
                                <a class="link-danger signup" (click)="signupForm()"><u>Sign Up</u></a>
                              </p>
                            </div>
                          </form>
                    </div>
                    <!-- login with password ends -->
                    <div *ngIf="displayForm == 'loginwithotp'"><h3>Login with otp</h3>
                      <br/>
                      <!-- Login with Otp form form starts -->
                      <form #loginwithotpForm="ngForm">
                        <!-- Email input -->
                          <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Email </label>
                            <input type="email" name="email" #email=ngModel [(ngModel)]="emailId" class="form-control" style="width: 90%;"
                                placeholder="Enter Email Address" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [ngModelOptions]="{ standalone: true }">
                                  <div *ngIf="email.errors?.['required'] && email.touched">
                                      <div style="color: red;">
                                          Please enter your Email address
                                      </div>
                                  </div>
                                  <div *ngIf="email.errors?.['pattern']">
                                      <div style="color: red;">
                                          Please enter a valid Email address
                                      </div>
                                  </div>
                          </div>
                          
                          <!-- Password input -->
                          <div class="row">
                            <label class="form-label" for="form3Example4">One Time Password</label>
                            <div class="col-8">
                              <input type="number" #otppass=ngModel id="form3Example4" class="form-control" [(ngModel)]="otp" style="width: 90%;"
                              [ngModelOptions]="{ standalone: true }" placeholder="Enter OTP" required="true"/>
                              <div *ngIf="otppass.errors?.['required'] && otppass.touched">
                                <div style="color: red;">
                                  Please enter password
                                </div>
                              </div>
                            </div>
                            <div class="col-4">
                              <button class="btn btn-outline-primary" id="sendOtpButton" (click)="sendOtpFunction()">{{sendOtpButtonVar}}</button>
                            </div> 
                        </div>
              
                        <br>
                        <div class="row">
                          <div class="col-4">
                            <button type="button" id="loginByOtpButton" (click)="checkOtpLogin()" class="btn btn-primary"
                              style="padding-left: 2.5rem; padding-right: 2.5rem">
                              Login
                            </button>
                          </div>
                          <div class="col-8">
                            <button class="btn btn-outline-primary" (click)="loginwithpasswordForm()">Login with password</button><br>
                          </div>
                        </div>
                        <div>
                          <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? Just
                            <a class="link-danger signup" (click)="signupForm()"><u>Sign Up</u></a>
                          </p>
                          </div>
                      </form>
                        <!-- Login with Otp form form ends -->
                    </div>


                    <div *ngIf="displayForm == 'signupForm'"><h3>Sign Up</h3>
                      <br/>
                  
                        <!-- Login with Otp form form starts -->
  
                        <form #loginwithotpForm="ngForm">
                    
                          <!-- Email input -->
                            <div class="form-outline mb-4">
                            <label
                              class="form-label" for="form3Example3">Email</label>
                
                              <input type="email" name="email" #email=ngModel [(ngModel)]="userData.email" class="form-control" style="width: 90%;"
                                  placeholder="Enter Email Address" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [ngModelOptions]="{ standalone: true }">
                                    <div *ngIf="email.errors?.['required'] && email.touched">
                                        <div style="color: red;">
                                            Please enter your Email address
                                        </div>
                                    </div>
                                    <div *ngIf="email.errors?.['pattern']">
                                        <div style="color: red;">
                                            Please enter a valid Email address
                                        </div>
                                    </div>
                            </div>
                            
                            <!-- Password input -->
                            <div>
                              <label class="form-label" for="form3Example4">Password</label>
                              <input type="password" #otppass=ngModel id="form3Example4" class="form-control" [(ngModel)]="userData.password" style="width: 90%;"
                              [ngModelOptions]="{ standalone: true }" placeholder="Enter password" required="true"/>
                              <div *ngIf="otppass.errors?.['required'] && otppass.touched">
                                <div style="color: red;">
                                  Please enter password
                                </div>
                              </div>
                            </div>
                            
                            
                          <br>
                          <div class="row" style="width:100%;" >
                            <div class="col-sm-6">
                            <button type="button" id="loginByOtpButton" (click)="userSignUp()" class="btn btn-primary"
                              style="padding-left: 2.5rem; padding-right: 2.5rem">
                              Sign Up
                            </button>
                            </div>
                          </div>
                        </form>
                          <!-- Signup form form ends -->
                          <div>
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                              Already have an account?
                              <a class="link-danger signup" (click)="loginwithpasswordForm()"><u>Log In</u></a>
                            </p>
                            </div>
                    </div>
                  </div>


                  
                  <div class="table-responsive saved-table col-sm-4" *ngIf="loginStatus">
                     <!-- after login -->
                     <app-saved-recipes></app-saved-recipes>
                </div>
                <!-- after login content ends -->
                

                <!-- login template ends -->

            </div>
        </div>
    </div>
</div>